* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    height: 100%;
    overflow: hidden;
    cursor: none;
}

img {
    width: 100%;
}

#start-game,#end-game,#win-game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color:white;
    border-radius:30px;
    display:inline-block;
    cursor:pointer;
    color:#000;
    font-family:Arial;
    font-size:35px;
    padding:9px 23px;
    border: 1px solid white;
    font-weight: bold;
}

#end,#win{
display: none;
}

#start-game:hover,#end-game:hover,#win-game:hover  {
    background:#39B54A;
    border-color:#39B54A;
}

button:focus {outline:0;}

#game{
    display: none;
}

#player {
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translateY(-50%);
}

#core {
    position: absolute;
    width: 100%;
    height: 70px;
}

#core-charged {
    position: absolute;
    width: 100%;
    opacity:0;
}
  
#core-charged {
    opacity: 0;
    
}

#lives{
    position: absolute;
    top: 70px;
}

#player .live {
    width: 70px;
    height: 5px;
    background-color:#39B54A;
    margin: 10px auto 0;
}

#boss {
    width: 400px;
    height: 75px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50px;
}

#left {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50px;
    border-radius: 100%;
    z-index: 2;
}

#right {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 70%;
    right: 50px;
    border-radius: 100%;
    z-index: 2;
}

.player-shot, .enemy-shot {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #39B54A;
    position: absolute;
    transform: translate(-50%, -100%);
}

.enemy-shot {
    background-color: rgb(99, 24, 46);
    transform: translate(-50%, 50%);
}

@keyframes attackChargre {
    0% {opacity: 0; }
    85% {opacity: 0.5;}
    100% {opacity: 1;}
  }

  @keyframes test {
    0% {width:70px; height:70px;}
    50% {width:80px; height:80px;transform: translate(-5px,-5px);}
    100% {width:70px; height:70px;}
  }

@keyframes attackAnim {
    0% {width:100px; height:100px; background-color: white; }
    50% {width:120px; height:120px; background-color: rgb(99, 24, 46); transform: translate(10px,-10px);}
    100% {width:100px; height:100px; background-color: white;transform: translate(0px,0px);}
  }

  @keyframes attackAnimLeft {
    0% {width:100px; height:100px; background-color: white; }
    50% {width:120px; height:120px; background-color: rgb(99, 24, 46); transform: translate(-10px,-10px);}
    100% {width:100px; height:100px; background-color: white;transform: translate(0px,0px);}
  }