* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    height: 100%;
    overflow: hidden;
    cursor: none;
}

img {
    width: 100%;
}

#start-game{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%);

	background-color:rgb(99, 24, 46);
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
border: 1px solid rgb(99, 24, 46);

}

#start-game:hover {
	background:rgb(124, 32, 60);
}

button:focus {outline:0;}

#game{
    display: none;
}

#player {
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translateY(-50%);
}

#core {
    position: absolute;
    width: 100%;
    height: 70px;
}

#core-charged {
    position: absolute;
    width: 100%;
    height: 70px;
    opacity:0;
}
  
#core-charged.change {
    opacity: 1;
    transition: all 5s ease-in;
}

#lives{
    position: absolute;
    top: 70px;
}

#player .live {
    width: 70px;
    height: 5px;
    background-color:white;
    margin: 10px auto 0;
}

#boss {
    width: 400px;
    height: 75px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50px;
}

#left {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50px;
    border-radius: 100%;
    z-index: 2;
}

#right {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 70%;
    right: 50px;
    border-radius: 100%;
    z-index: 2;
}

.player-shot, .enemy-shot {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(204, 100, 131);
    position: absolute;
    transform: translate(-50%, -100%);
}

.enemy-shot {
    background-color: rgb(99, 24, 46);
    transform: translate(-50%, 50%);
}